---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
import { Picture } from 'astro:assets'

const allActivities = await getCollection('activities')

console.log(allActivities)

// const featuredActivities = allActivities.slice(0, 3)

// const uniqueTags = [
//   ...new Set(
//     allActivities
//       .map((activity) => activity.frontmatter.tags)
//       .flat()
//       .sort((a, b) => a.localeCompare(b)),
//   ),
// ]
---

<BaseLayout>
  <h1 class="text-5xl font-medium uppercase">Personal archive</h1>

  <ul>
    {
      allActivities.map((activity) => (
        <li>
          <Picture src={activity.data.cover} alt="" />
        </li>
      ))
    }
  </ul>

  <!-- <ul>
    {
      uniqueTags.map((tag) => (
        <li>
          <a href={`/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul> -->
</BaseLayout>
